body{
   background-color: #e5e5e5;
   font-family: 'Poppins', sans-serif;
}
header{
   margin-bottom: 100px;
}
.container{
   max-width: 1172px;
   min-height: 100px;
   margin: auto;
   padding: 0 15px;
}
.wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo-do{
   padding-right: 147px;
   color: #2D2D2D;

}
.nav-list{
   display: flex;
   justify-content: space-between;
}
.nav-list>li{
   padding-right: 30px;
   list-style-type: none;
   font-size: 16px;
   line-height: 24px;
}
.btn{
   padding: 8px 24px;
   color: #fff;
   font-size: 16px;
   line-height: 24px;
   background: #2d2d2d;
   border-radius: 10px;
}
.text{
   padding-top: 38px;
}
.promo-do{
   display: flex;
}
h1{
   width: 480px;
   padding-top: 100px;
   font-size: 50px;
   line-height: 70px;
}
p{
   font-size: 16px;
   line-height: 30px;
   padding-bottom: 38px;
}
